.profile {
  display: flex;
  flex-direction: column;
  margin: 30px auto;
  width: 285px;
  min-height: 350px;
  box-shadow: 5px 5px 15px 5px #000000;
  background-color: rgb(250, 195, 252);
  border: 1px solid rgb(242 89 242 / 19%);
}
.description {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.avatar {
  display: block;
  width: 75px;
}
.name {
  font-size: 23px;
  font-weight: 700;
  color: black;
  margin-bottom: 10px;
}

.tag {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #747474;
}

.location {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #747474;
}
.stats {
  display: flex;
  flex-shrink: 0;
  height: 75px;
  font-size: 18px;
  font-weight: 500;
  color: black;
  justify-content: center;
  list-style: none;
  margin-top: auto;
  border-top: 1px solid rgb(242 89 242 / 19%);
}
.stats li {
  display: flex;
  width: 33.33333%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 1px solid rgb(242 89 242 / 19%);
  background: rgba(219, 219, 219, 0.521);
}
.stats li:last-child {
  border-right: none;
}

.label {
  text-transform: none;
  margin-bottom: 8px;
  font-size: 13px;
  font-weight: bold;
  opacity: 0.8;
  color: #747474;
}
.quantity {
  color: black;
  font-weight: 700;
}
